*{
    padding: 0;
    margin: 0;
}
body{
    background-color: bisque;
}

#presentacion{
    background-color: #FFFFE0;
    width: 100%;
    height: 180px;
    display: flex;
}

#presentacion h1{
    padding-top: 85px;
    margin-left: 10px;
    font-size: 20px;
}

#foto_perfil{
    width: 110px;
    height: 110px;
    margin: 40px 10px 0px 20px;
    border-radius: 100%;
}

/*--------------------------------Menu ancla----------------------------------*/
#menu{
    background-color: black;
    width: 100%;
    margin-top: 10px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}

#menu a{
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
    border-radius: 5%;
    color: white;
    padding: 2px;
}

a:hover{
    background-color: orange;
}

/*----------------------------------------Contenedores---------------------------------------*/
div {
    margin-top: 30px;
    width: 100%;
}


#logo_datos, #logo_conocimiento, #logo_exp, #logo_habilidad{
    width: 140px;
    height: 90px;
    float: right;
    padding-top: 50px;
    margin-right: 25px;
}

li{
    margin-left: 25px;
    margin-top: 7px;
}

button {
    margin-left: 5px;
    font-size: 15px;
    background-color: #FFFFE0;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Playfair Display', serif;
    font-family: 'Solitreo', cursive;
}

/*----------------------------------------Medias queries---------------------------------------*/

  @media screen and (min-width: 653px) {
    #presentacion{
        height: 220px;
    }
    
    #presentacion h1{
        padding-top: 90px;
        font-size: 45px;
        margin-left: 50px;
    }

    #foto_perfil{
        width: 150px;
        height: 150px;
        margin-left: 50px;
    }

    #menu{
        height: 50px;
        padding-top: 20px;
    }
    
    #menu a{
        margin-right: 10px;
        margin-left: 10px;
        padding: 10px;
        font-size: 25px;
    }


    div {
        margin-top: 30px;
        width: 100%;
    }
    
    button {
        font-size: 25px;
    }
    
    #logo_datos, #logo_conocimiento, #logo_exp, #logo_habilidad{
        width: 200px;
        height: 150px;
        margin-right: 200px;
        visibility: hidden;
    }
    
    li{
        margin-left: 35px;
        font-size: 25px;
    }

  }

  @media screen and (min-width: 280px) and (max-width: 359px) {
    #presentacion{
        height: 160px;
        
    }
    
    #presentacion h1{
        font-size: 25px;
        padding-top: 45px;
        margin-left: 20px;
    }

    #foto_perfil{
        width: 100px;
        height: 100px;
    }

    #menu{
        height: 100px;
    }
    
    #menu a{
        margin-right: 70px;
        font-size: 20px;
        margin-left: 65px;
    }


    div {
        margin-top: 30px;
        width: 100%;
    }
    
    button {
        font-size: 15px;
    }
    
    #logo_datos, #logo_conocimiento, #logo_exp, #logo_habilidad {
        width: 90px;
        height: 60px;
        margin-right: 20px;
    }
    
    li{
        margin-left: 35px;
        font-size: 15px;
    }
  }